{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='stylesheets/styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
        
<div class="container-fluid" id="particles-js">
    <h2 class="text-center" id="all"  style="color: black"><strong>ONE MINUTE PITCH APP</strong></h2>
    <div class="tab-content">
        <div class="container tab-pane active" id="all"> <br>
        {{macro.display(pickuplines)}}
        {{ macro.display(interviewpitch) }}
        {{ macro.display(productpitch) }}
        {{ macro.display(promotionpitch) }}
    </div>
    
    </div>
   
</div>

</div>
<hr>
<footer style="text-align: center; background-color: #000;border-radius: 3px;height: 30px;color: gray;">@Claudine Mahoro 2020</footer>
{% endblock %}